
.navigator{
	height:70px;
	background:black;
}

.navigator ul a{

}
.main_container{

	padding-top:40px;
}
.container_title{
	height:100px;
	margin-top:50px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.container_title hr{
    width: 500px;
    border-color: black;
}


.container_icon{
	height:230px;
	
}

.container_icon table{
	position: relative;

  top: -20px;
    margin-left: 400px;

}

.container_icon td{
    padding:30px; 
}

.container_info{

	margin-top:-50px;

}

.container_info table{
    margin-left: 530px;
    font-size: 15px;
}

.container_info table td{
    text-align: left;
    padding-left: 50px;
  
}

.end{position: relative;
  
  top: 200px;
	background:black;
	height:76px;
	margin-top:-160px;
}
.end p{
	line-height:76px;
	text-align:center;
	color:white;
	font-size: 13px;

}